@inject IAssistantService _assistantService

<MudDrawerContainer Class="mud-height-full">
    <MudDrawer @bind-Open="IsOpen" Anchor="Anchor.Left" DisableOverlay="true" Elevation="8">
        @if (isEditing)
        {
            <MudDrawerHeader Class="pr-2 pt-1">
                <MudText Typo="Typo.h6" Class="mt-2">Edit Assistant</MudText>
                <MudSpacer />
                <MudIconButton OnClick="CloseDrawer" Icon="@Icons.Material.Filled.Close" Color="(_IsDarkModeEnabled ? Color.Default : Color.Dark)" />
            </MudDrawerHeader>
            <div>
                <MudDivider />
                <AssistantForm AssistantId="SelectedAssistantId" OnAssistantSubmit="HandleAssistantSubmitted" />
            </div>
        }
        else
        {
            <MudDrawerHeader Class="pr-2 pt-1">
                <MudText Typo="Typo.h6" Class="mt-2">Select or Manage Assistants</MudText>
                <MudSpacer />
                <MudIconButton OnClick="CloseDrawer" Icon="@Icons.Material.Filled.Close" Color="(_IsDarkModeEnabled ? Color.Default : Color.Dark)" />
            </MudDrawerHeader>
            <MudList Clickable="true">
                <MudDivider />
                @foreach (var assistant in Assistants)
                {
                    <AssistantItem Assistant="@assistant"
                                   OnEdit="() => EditAssistant(assistant.Id)"
                                   OnDelete="HandleAssistantSubmitted" />
                }
            </MudList>
            <MudSpacer/>
            <MudPaper class="d-flex flex-row justify-end gap-4 pa-4" Style="@BackgroundColorStyle">
                <MudButton OnClick="CreateNewAssistant" Variant="Variant.Filled" Color="Color.Primary">New Assistant</MudButton>
            </MudPaper>
        }
    </MudDrawer>
</MudDrawerContainer>

@code 
{
    [Parameter]
    public bool IsOpen { get; set; }

    [Parameter]
    public EventCallback<bool> IsOpenChanged { get; set; }

    [CascadingParameter]
    private bool _IsDarkModeEnabled { get; set; }
    private string BackgroundColorStyle => $"background-color: {(_IsDarkModeEnabled ? "#1e1f22" : "#d6d3d1")};";

    private bool isEditing = false;
    private Guid SelectedAssistantId { get; set; }

    public List<AssistantResponse> Assistants { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadAssistants();
    }

    private async Task LoadAssistants()
    {
        var response = await _assistantService.BrowseAssistants();
        Assistants = response.Items.ToList();
    }

    private void CloseDrawer()
    {
        IsOpen = false;
        isEditing = false;
        IsOpenChanged.InvokeAsync(IsOpen);
    }

    private void CreateNewAssistant()
    {
        SelectedAssistantId = Guid.Empty;
        isEditing = true;
    }

    private void EditAssistant(Guid id)
    {
        SelectedAssistantId = id;
        isEditing = true;
    }

    private async Task HandleAssistantSubmitted()
    {
        isEditing = false;
        await LoadAssistants();
    }
}
