<MudListItem>
    <ChildContent>
        <div class="d-flex flex-row flex-grow-1 gap-4">
            <MudAvatar Size="@Size.Large" Class="my-auto">
                <MudImage Src="@Assistant?.AvatarUrl"/>
            </MudAvatar>
            <div>
                <MudText Typo="Typo.h6">@Assistant?.Name</MudText>
                <MudText Typo="Typo.subtitle2">@Assistant?.Description</MudText>
            </div>
            <MudSpacer />
            <MudMenu Icon="@Icons.Material.Filled.MoreVert">
                <MudMenuItem OnClick="SetDefaultAssitant">Set as default</MudMenuItem>
                <MudMenuItem OnClick="() => EditAssistant(Assistant!.Id)">Edit</MudMenuItem>
                <MudMenuItem OnClick="DeleteAssistant">Delete</MudMenuItem>
            </MudMenu>
        </div>
    </ChildContent>
</MudListItem>
<MudDivider />

@code
{
    [Parameter] public AssistantResponse? Assistant { get; set; }
    [Parameter] public EventCallback<Guid> OnEdit { get; set; }

    private async Task SetDefaultAssitant()
    {
        await Task.CompletedTask;
    }

    private async Task EditAssistant(Guid id)
    {
        await OnEdit.InvokeAsync(id);
    }

    private async Task DeleteAssistant()
    {
        await Task.CompletedTask;
    }
}
