<MudDialog Class="pa-2">
    <DialogContent>
        <MudText>Confirm deletion of assistant <strong>'@Assistant?.Name'</strong>?</MudText>
        <MudText Class="mt-2" Typo="Typo.body2">This action cannot be undone.</MudText>
    </DialogContent>
    <DialogActions>
        <div class="d-flex flex-row flex-grow-1 gap-4">
            <MudCheckBox @bind-Value="@IsDeletionConfirmed" Label="Confirm" UnCheckedColor="Color.Error" />
            <MudSpacer/>
            <MudButton OnClick="Cancel" Variant="Variant.Filled">Cancel</MudButton>
            <MudButton OnClick="Submit" Variant="Variant.Filled" Color="Color.Error" Disabled="@(IsDeletionConfirmed ? false : true)">Delete</MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code
{
    [CascadingParameter] MudDialogInstance? MudDialog { get; set; }
    [Parameter] public AssistantResponse? Assistant { get; set; }

    public bool IsDeletionConfirmed { get; set; } = false;

    void Submit() => MudDialog!.Close(DialogResult.Ok(IsDeletionConfirmed));
    void Cancel() => MudDialog!.Cancel();
}
