<div class="d-flex flex-column justify-content-center align-items-center" style="height: 100%;">
    <MudAvatar Size="@Size.Large" Class="my-auto mr-4">
        <MudImage Src="https://avatars.githubusercontent.com/u/49451143?v=4" />
    </MudAvatar>

    <MudText Typo="Typo.h4">Sophia</MudText>
    <MudText Typo="Typo.body1">Hey Kris! 👋 How can I help you today? Need info, advice, or just a chat? I'm here to help you</MudText>
</div>

@* <MudGrid Style="height: 100%">
    <MudItem xs="12" class="d-flex flex-column justify-content-center align-items-center text-center h-100">
        <MudAvatar Size="Size.Large" Class="mb-2">
            <MudImage Src="https://avatars.githubusercontent.com/u/49451143?v=4" />
        </MudAvatar>
        <MudText Typo="Typo.h4" Class="mb-1">Sophia</MudText>
        <MudText Typo="Typo.body1" Class="mx-3">Hey Kris! 👋 How can I help you today? Need info, advice, or just a chat? I'm here to help you</MudText>
    </MudItem>
</MudGrid> *@

@code 
{

}
