@inject NavigationManager NavigationManager

<div Class="d-flex flex-row flex-grow-1 gap-1 pa-2" Elevation="0">
    <MudAvatar Class="my-auto">
        <MudImage Size="Size.Medium" Src="https://avatars.githubusercontent.com/u/49451143?v=4"></MudImage>
    </MudAvatar>
    <MudListItem OnClick="@NavigateToChat">
        @ChatSessionIteam?.Title
    </MudListItem>
    <MudMenu Class="" Icon="@Icons.Material.Filled.MoreVert">
        <MudMenuItem>Rename</MudMenuItem>
        <MudMenuItem>Delete</MudMenuItem>
    </MudMenu>
</div>
<MudDivider />

@code 
{
    [Parameter] public ChatSessionResponse? ChatSessionIteam { get; set; }

    private void NavigateToChat()
    {
        
    }
}
